<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>File Metadata Microserive</title>
</head>
<body>
    <h1>File Metadata Microserive</h1>
    <hr>
    <h2>Usage:</h2>
    <p>Upload a file...</p>
    <main>
        <form action="/api/file-analysis" method="post" enctype="multipart/form-data">
            <input type="file" name="upfile" id="upfile">
            <input type="submit" value="Upload">
        </form>
    </main>
</body>
</html>